
header{
    background-color: rgb(121, 64, 17);
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
    font-size: large;
}

body{
    margin: 0;
    background-color: tan;
}

.link-container{
    position: relative;
    bottom: -100px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    display: inline-block;
    padding-left: 15;
    padding-right: 15px;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: green;
}

a:hover{
    color: gold;
    text-decoration: underline;
}

main{
    padding-top: 40px;
}

.link{
    text-align: center;
}

.para{
    text-indent: 25px;
    color: brown;
}

footer{
    text-align: center;
}